.app__container{
    max-width: 1250px;
    .title__container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include mid-size{
            width: 90vw;
        }
        h2{
            color: $blue;
            margin-bottom: 1rem;
        }
        p{
            color: $grey;
        }
    }
    .grow{
        margin: 0.5rem;
        transition: all 0.7s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
    }
    
        
}
