*{
    margin: 0;
    direction: rtl;
    color: inherit;
    font-family: 'Rubik', sans-serif;
}

.content__container{
    background-color: #eee;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
